# Imporación de librerias.

Se realiza la importación de las librerias necesarias para la ejecución de todos el código.

In [1]:
import csv
import requests
import pandas as pd 
from IPython.display import clear_output

import warnings
warnings.filterwarnings('ignore')

Se crea la función downloadInfo mediante la cual se le indica la información que se quiere descargar, la url donde se quiere almacenar y los datos que se quieren guardar.

In [2]:

def donwloadInfo(baseURL, completeURL, columnas=['Anio', 'Periodo', 'Dato']):
    df_complete = pd.DataFrame()

    for index, barrio in barrios_df.iterrows():
           
            cod_barrio = barrio['COD_BAR']
            cod_distrito = barrio['CODDIS']
            nombre_barrio = barrio['NOMBRE']
            nombre_distrito = barrio['NOMDIS']

            print("Descargando BAR"  + str(cod_barrio))
            if cod_barrio > 100:
                url = baseURL.replace('BAR0X', 'BAR' + str(cod_barrio))
            else:
                url = baseURL.replace('BAR0X', 'BAR0' + str(cod_barrio))
            print("Url: " + url)
            df = pd.read_csv(url, delimiter=';', decimal=',', encoding='utf-8', on_bad_lines='skip',index_col=False, header=2, encoding_errors='ignore', names=columnas)
            df['CodigoBarrio'] = cod_barrio
            df['CodigoDistrito'] = cod_distrito
            df['NombreBarrio'] = nombre_barrio
            df['NombreDistrito'] = nombre_distrito

            df_complete = pd.concat([df,df_complete], axis=0, ignore_index=False)
            print()
            clear_output(wait=True)

    df_complete.to_csv(completeURL,sep=';',index=False) 
    return(df_complete)

## Carga de datos de Barrios de Madrid

Se lee el csv con los datos de los Barrios de Madrid para obtener un catalogo inicial de los barrios de Madrid. Se obtiene tanto el codigo de barrio, el nombre de barrio asi como el codigo de distrito y nombre del distrito al que pertenece cada barrio.

In [3]:


barrios_df = pd.read_csv('datos/raw/Barrios.csv', decimal=',', delimiter=';',header=0)[['COD_BAR', 'NOMBRE', 'CODDIS','NOMDIS']]                                                                                        
barrios_df.sort_values('COD_BAR')

     COD_BAR                      NOMBRE  CODDIS   NOMDIS
59        11                     Palacio       1   Centro
49        12                 Embajadores       1   Centro
54        13                      Cortes       1   Centro
63        14                    Justicia       1   Centro
65        15                 Universidad       1   Centro
..       ...                         ...     ...      ...
100      211            Alameda de Osuna      21  Barajas
123      212                  Aeropuerto      21  Barajas
111      213  Casco Histórico de Barajas      21  Barajas
122      214                       Timón      21  Barajas
106      215                  Corralejos      21  Barajas

[131 rows x 4 columns]

## Datos de población por barrio

Personas empadronadas a 1 de enero de cada año, salvo 1991 que es a 1 de marzo y 1996 que es a 1 de mayo. Los datos comparativos van referidos al último año para el que existe información para todos los territorios.

In [4]:
URL_POBLACION = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ZTV21&idp=35&Id_Celda_Fila_Plantilla=8373&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

df_poblacion= donwloadInfo(URL_POBLACION, 'datos/raw/poblacionPorBarrio.csv',['Anio','Periodo', 'DatoPoblacion'])
df_poblacion

,Anio,Periodo,DatoPoblacion,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,945,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,1530,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,2398,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,4430,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
13,2018,Anual,15498,172,17,San Cristóbal,Villaverde
14,2019,Anual,16052,172,17,San Cristóbal,Villaverde
15,2020,Anual,16898,172,17,San Cristóbal,Villaverde
16,2021,Anual,16986,172,17,San Cristóbal,Villaverde
17,2022,Anual,16640,172,17,San Cristóbal,Villaverde

## Porcentaje de población de menos de 16 años

Porcentaje de población menor de 16 años sobre la población total. Los datos comparativos van referidos al último año para el que existe información para todos los territorios.

In [5]:
URL_POBLACION_MENOR_16 = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8956&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8956&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv


df_poblacionMenor16= donwloadInfo(URL_POBLACION_MENOR_16, 'datos/raw/poblacionPorBarrioPOrcetajeMenor16.csv', ['Anio','Periodo', 'DatoPoblacionMenor16'])
df_poblacionMenor16

,Anio,Periodo,DatoPoblacionMenor16,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2005,Anual,NaN,194,19,El Cañaveral,Vicálvaro
1,2006,Anual,NaN,194,19,El Cañaveral,Vicálvaro
2,2007,Anual,NaN,194,19,El Cañaveral,Vicálvaro
3,2008,Anual,NaN,194,19,El Cañaveral,Vicálvaro
4,2009,Anual,NaN,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
13,2018,Anual,19.25,172,17,San Cristóbal,Villaverde
14,2019,Anual,19.18,172,17,San Cristóbal,Villaverde
15,2020,Anual,18.82,172,17,San Cristóbal,Villaverde
16,2021,Anual,18.60,172,17,San Cristóbal,Villaverde
17,2022,Anual,18.74,172,17,San Cristóbal,Villaverde

## Porcentaje de población de 16 a 64 años

Porcentaje de población de 16 a 64 años sobre la población total. Los datos comparativos van referidos al último año para el que existe información para todos los territorios.

In [6]:
URL_POBLACION_ENTRE_16_64 = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8958&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv1&idp=34&Id_Celda_Fila_Plantilla=8958&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv


df_poblacionEntre16y64= donwloadInfo(URL_POBLACION_ENTRE_16_64, 'datos/raw/poblacionPorBarrioPOrcetajeEntre1664.csv', ['Anio','Periodo', 'DatoPoblacionEntre16y64'])
df_poblacionEntre16y64

,Anio,Periodo,DatoPoblacionEntre16y64,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2005,Anual,NaN,194,19,El Cañaveral,Vicálvaro
1,2006,Anual,NaN,194,19,El Cañaveral,Vicálvaro
2,2007,Anual,NaN,194,19,El Cañaveral,Vicálvaro
3,2008,Anual,NaN,194,19,El Cañaveral,Vicálvaro
4,2009,Anual,NaN,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
13,2018,Anual,67.00,172,17,San Cristóbal,Villaverde
14,2019,Anual,68.00,172,17,San Cristóbal,Villaverde
15,2020,Anual,69.30,172,17,San Cristóbal,Villaverde
16,2021,Anual,69.95,172,17,San Cristóbal,Villaverde
17,2022,Anual,70.00,172,17,San Cristóbal,Villaverde

## Porcentaje de población de 65 y más años


Porcentaje de población de 65 y más años sobre la población total. Los datos comparativos van referidos al último año para el que existe información para todos los territorios.

In [7]:
URL_POBLACION_MAS_65 = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8960&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8960&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv


df_poblacionMas65= donwloadInfo(URL_POBLACION_MAS_65, 'datos/raw/poblacionPorBarrioPOrcetajeMas65.csv', ['Anio','Periodo', 'DatoPoblacionMayor65'])
df_poblacionMas65

,Anio,Periodo,DatoPoblacionMayor65,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2005,Anual,NaN,194,19,El Cañaveral,Vicálvaro
1,2006,Anual,NaN,194,19,El Cañaveral,Vicálvaro
2,2007,Anual,NaN,194,19,El Cañaveral,Vicálvaro
3,2008,Anual,NaN,194,19,El Cañaveral,Vicálvaro
4,2009,Anual,NaN,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
13,2018,Anual,13.74,172,17,San Cristóbal,Villaverde
14,2019,Anual,12.81,172,17,San Cristóbal,Villaverde
15,2020,Anual,11.88,172,17,San Cristóbal,Villaverde
16,2021,Anual,11.45,172,17,San Cristóbal,Villaverde
17,2022,Anual,11.26,172,17,San Cristóbal,Villaverde

## Índice de sobreenvejecimiento

Porcentaje de población mayor de 79 años sobre la población mayor de 64 años.

Periodo:	Anual 2022

Fuente:	Ciudad de Madrid: Ayuntamiento de Madrid, Explotación del Padrón

Cálculo:	(población de 80 años y más / población de 65 años y más) x 100

Porcentaje de población mayor de 79 años sobre la población mayor de 64 años.

In [8]:
URL_SOBREENVEJICIMIENTO = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8962&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

df_sobreenv= donwloadInfo(URL_SOBREENVEJICIMIENTO, 'datos/raw/poblacionIndiceSobreenvejecimiento.csv', ['Anio','Periodo', 'DatoSobreEnvejecimiento'])
df_sobreenv

,Anio,Periodo,DatoSobreEnvejecimiento,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2005,Anual,NaN,194,19,El Cañaveral,Vicálvaro
1,2006,Anual,NaN,194,19,El Cañaveral,Vicálvaro
2,2007,Anual,NaN,194,19,El Cañaveral,Vicálvaro
3,2008,Anual,NaN,194,19,El Cañaveral,Vicálvaro
4,2009,Anual,NaN,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
13,2018,Anual,52.44,172,17,San Cristóbal,Villaverde
14,2019,Anual,51.10,172,17,San Cristóbal,Villaverde
15,2020,Anual,48.90,172,17,San Cristóbal,Villaverde
16,2021,Anual,47.00,172,17,San Cristóbal,Villaverde
17,2022,Anual,45.50,172,17,San Cristóbal,Villaverde

In [9]:
URL_SOBREENVEJICIMIENTO_SEXO = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8963&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-39&idp=34&Id_Celda_Fila_Plantilla=8963&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_sobreenv_sexo= donwloadInfo(URL_SOBREENVEJICIMIENTO_SEXO, 'datos/raw/poblacionIndiceSobreenvejecimientoSexo.csv', ['Anio', 'Periodo', 'DatoSobreenvejecimientoHombres', 'DatoSobreenvejecimientoMujeres'])
df_sobreenv_sexo

,Anio,Periodo,DatoSobreenvejecimientoHombres,DatoSobreenvejecimientoMujeres,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0.0,0.0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,14.3,13.3,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,6.9,15.0,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,5.1,10.8,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,7.5,17.5,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...,...
13,2018,Anual,47.3,55.2,172,17,San Cristóbal,Villaverde
14,2019,Anual,45.8,54.1,172,17,San Cristóbal,Villaverde
15,2020,Anual,42.6,52.4,172,17,San Cristóbal,Villaverde
16,2021,Anual,39.7,51.3,172,17,San Cristóbal,Villaverde
17,2022,Anual,36.6,50.8,172,17,San Cristóbal,Villaverde

## Índice de feminidad

Número de mujeres por cada 100 hombres

Periodo:	Anual 2022

Fuente:	Ciudad de Madrid: Ayuntamiento de Madrid, Explotación del Padrón

Cálculo:	(población de mujeres de 65 y más años / población de hombres de 65 y más años) x 100

Número de mujeres por cada 100 hombres

In [10]:
URL_FEMINIDAD = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8964&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-39&idp=34&Id_Celda_Fila_Plantilla=8964&Id_Territorio=28079BAR172&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_feminidad= donwloadInfo(URL_FEMINIDAD, 'datos/raw/poblacionIndiceFeminidad.csv',['Anio','Periodo', 'DatoFeminidad'])
df_feminidad

,Anio,Periodo,DatoFeminidad,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2005,Anual,NaN,194,19,El Cañaveral,Vicálvaro
1,2006,Anual,NaN,194,19,El Cañaveral,Vicálvaro
2,2007,Anual,NaN,194,19,El Cañaveral,Vicálvaro
3,2008,Anual,NaN,194,19,El Cañaveral,Vicálvaro
4,2009,Anual,NaN,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
13,2018,Anual,105.9,172,17,San Cristóbal,Villaverde
14,2019,Anual,104.9,172,17,San Cristóbal,Villaverde
15,2020,Anual,105.5,172,17,San Cristóbal,Villaverde
16,2021,Anual,103.5,172,17,San Cristóbal,Villaverde
17,2022,Anual,102.4,172,17,San Cristóbal,Villaverde

## Porcentaje de población de nacionalidad extranjera

Periodo:	Anual 2022

Fuente:	Ciudad de Madrid: Ayuntamiento de Madrid, Explotación del Padrón; Resto de municipios: INE, Revisión del Padrón.

Cálculo:	(población extranjera / población total)*100

Porcentaje de población de nacionalidad extranjera sobre el total de la población. Los datos comparativos van referidos al último año para el que existe información para todos los territorios.

In [11]:
URL_NACIONALIDAD_EXTRANJERA = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8966&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8966&Id_Territorio=28079BAR172&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_NacionalidadEstranjera= donwloadInfo(URL_NACIONALIDAD_EXTRANJERA, 'datos/raw/poblacionNacionalidadExtranjera.csv',['Anio','Periodo', 'DatoNacionalidadExtranjera'])
df_NacionalidadEstranjera

,Anio,Periodo,DatoNacionalidadExtranjera,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2003,Anual,NaN,194,19,El Cañaveral,Vicálvaro
1,2004,Anual,NaN,194,19,El Cañaveral,Vicálvaro
2,2005,Anual,NaN,194,19,El Cañaveral,Vicálvaro
3,2006,Anual,NaN,194,19,El Cañaveral,Vicálvaro
4,2007,Anual,NaN,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
15,2018,Anual,30.21,172,17,San Cristóbal,Villaverde
16,2019,Anual,32.18,172,17,San Cristóbal,Villaverde
17,2020,Anual,35.06,172,17,San Cristóbal,Villaverde
18,2021,Anual,36.34,172,17,San Cristóbal,Villaverde
19,2022,Anual,35.75,172,17,San Cristóbal,Villaverde

## Merge de datasets de población

Cargamos los datos desde disco para evitar decargar todos los ficheros:

In [12]:
from functools import reduce

df_poblacion = pd.read_csv('datos/raw/poblacionPorBarrio.csv', decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoDistrito','CodigoBarrio','NombreBarrio','DatoPoblacion']]  
df_poblacionMenor16 = pd.read_csv('datos/raw/poblacionPorBarrioPOrcetajeMenor16.csv', decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoBarrio','DatoPoblacionMenor16']]
df_poblacionEntre16y64 = pd.read_csv('datos/raw/poblacionPorBarrioPOrcetajeEntre1664.csv',decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoBarrio','DatoPoblacionEntre16y64']]
df_poblacionMas65 =  pd.read_csv('datos/raw/poblacionPorBarrioPOrcetajeMas65.csv',decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoBarrio','DatoPoblacionMayor65']]
df_sobreenv = pd.read_csv('datos/raw/poblacionIndiceSobreenvejecimiento.csv',decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoBarrio','DatoSobreEnvejecimiento']]
df_sobreenv_sexo = pd.read_csv('datos/raw/poblacionIndiceSobreenvejecimientoSexo.csv',decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoBarrio','DatoSobreenvejecimientoHombres','DatoSobreenvejecimientoMujeres']]
df_feminidad = pd.read_csv('datos/raw/poblacionIndiceFeminidad.csv',decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoBarrio','DatoFeminidad']]

dfs = [df_poblacion,df_poblacionMenor16,df_poblacionEntre16y64,df_poblacionMas65,df_sobreenv,df_sobreenv_sexo, df_feminidad]

df_result_poblacion = reduce(lambda df_left,df_right: pd.merge(df_left, df_right, 
                                              how='inner', on=['Anio','Periodo','CodigoBarrio']), 
                                              dfs)
df_result_poblacion

,Anio,Periodo,CodigoDistrito,CodigoBarrio,NombreBarrio,DatoPoblacion,DatoPoblacionMenor16,DatoPoblacionEntre16y64,DatoPoblacionMayor65,DatoSobreEnvejecimiento,DatoSobreenvejecimientoHombres,DatoSobreenvejecimientoMujeres,DatoFeminidad
0,2017,Anual,19,194,El Cañaveral,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018,Anual,19,194,El Cañaveral,945,20.74,75.45,3.81,13.89,14.3,13.3,92.9
2,2019,Anual,19,194,El Cañaveral,1530,24.71,72.09,3.2,10.2,6.9,15.0,94.9
3,2020,Anual,19,194,El Cañaveral,2398,24.44,72.39,3.17,7.9,5.1,10.8,95.0
4,2021,Anual,19,194,El Cañaveral,4430,23.45,73.93,2.62,12.9,7.5,17.5,96.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,2018,Anual,17,172,San Cristóbal,15498,19.25,67.0,13.74,52.44,47.3,55.2,105.9
2306,2019,Anual,17,172,San Cristóbal,16052,19.18,68.0,12.81,51.1,45.8,54.1,104.9
2307,2020,Anual,17,172,San Cristóbal,16898,18.82,69.3,11.88,48.9,42.6,52.4,105.5
2308,2021,Anual,17,172,San Cristóbal,16986,18.6,69.95,11.45,47.0,39.7,51.3,103.5
2309,2022,Anual,17,172,San Cristóbal,16640,18.74,70.0,11.26,45.5,36.6,50.8,102.4

## Parados Registrados
Demandantes de empleo registrados en las oficinas del SEPE el último día de cada mes.

In [13]:
URL_PARADOS_REGISTRADOS = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8968&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8968&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_ParadosRgistrados= donwloadInfo(URL_PARADOS_REGISTRADOS, 'datos/raw/economicosParadosRegistrados.csv',['Anio','Periodo', 'DatoParadosRegistrados'])
df_ParadosRgistrados

,Anio,Periodo,DatoParadosRegistrados,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Noviembre,24.0,194,19,El Cañaveral,Vicálvaro
1,2017,Diciembre,38.0,194,19,El Cañaveral,Vicálvaro
2,2018,Enero,47.0,194,19,El Cañaveral,Vicálvaro
3,2018,Febrero,41.0,194,19,El Cañaveral,Vicálvaro
4,2018,Marzo,43.0,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
118,2022,Octubre,1272.0,172,17,San Cristóbal,Villaverde
119,2022,Noviembre,1274.0,172,17,San Cristóbal,Villaverde
120,2022,Diciembre,1230.0,172,17,San Cristóbal,Villaverde
121,2023,Enero,1256.0,172,17,San Cristóbal,Villaverde
122,2023,Febrero,1361.0,172,17,San Cristóbal,Villaverde

In [14]:
df_ParadosRgistrados_anual = df_ParadosRgistrados[df_ParadosRgistrados['Periodo'] =='Diciembre']
df_ParadosRgistrados_anual['Periodo'] = 'Anual'

df_ParadosRgistrados_anual

,Anio,Periodo,DatoParadosRegistrados,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
1,2017,Anual,38.0,194,19,El Cañaveral,Vicálvaro
13,2018,Anual,51.0,194,19,El Cañaveral,Vicálvaro
25,2019,Anual,74.0,194,19,El Cañaveral,Vicálvaro
37,2020,Anual,156.0,194,19,El Cañaveral,Vicálvaro
49,2021,Anual,252.0,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
72,2018,Anual,1489.0,172,17,San Cristóbal,Villaverde
84,2019,Anual,1461.0,172,17,San Cristóbal,Villaverde
96,2020,Anual,2016.0,172,17,San Cristóbal,Villaverde
108,2021,Anual,1634.0,172,17,San Cristóbal,Villaverde
120,2022,Anual,1230.0,172,17,San Cristóbal,Villaverde

In [15]:
URL_PARADOS_REGISTRADOS_SEXO = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8969&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8969&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_ParadosRgistrados_sexo= donwloadInfo(URL_PARADOS_REGISTRADOS_SEXO, 'datos/raw/economicosParadosRegistradosSexo.csv',['Anio','Periodo', 'DatoParadosRegistradosHombres','DatoParadosRegistradosMujer'])
df_ParadosRgistrados_sexo

,Anio,Periodo,DatoParadosRegistradosHombres,DatoParadosRegistradosMujer,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Noviembre,9,15,194,19,El Cañaveral,Vicálvaro
1,2017,Diciembre,18,20,194,19,El Cañaveral,Vicálvaro
2,2018,Enero,20,27,194,19,El Cañaveral,Vicálvaro
3,2018,Febrero,16,25,194,19,El Cañaveral,Vicálvaro
4,2018,Marzo,16,27,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...,...
118,2022,Octubre,550,722,172,17,San Cristóbal,Villaverde
119,2022,Noviembre,552,722,172,17,San Cristóbal,Villaverde
120,2022,Diciembre,542,688,172,17,San Cristóbal,Villaverde
121,2023,Enero,557,699,172,17,San Cristóbal,Villaverde
122,2023,Febrero,605,756,172,17,San Cristóbal,Villaverde

## Afiliaciones a la Seguridad Social por lugar de trabajo
Número de afiliaciones por lugar de de trabajo, con alta laboral en la Seguridad Social, el último día del mes (dato mensual) o el 1 de enero (dato anual)

In [16]:
URL_AFILIACIONES_TRABAJO = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8974&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8968&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_AfiliacionesTrabajo= donwloadInfo(URL_AFILIACIONES_TRABAJO, 'datos/raw/economicosAfiliacionesTrabajo.csv',['Anio','Periodo', 'DatoAfiliacionesTrabajo'])
df_AfiliacionesTrabajo

,Anio,Periodo,DatoAfiliacionesTrabajo,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,31,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,133,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,114,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,152,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
8,2018,Anual,657,172,17,San Cristóbal,Villaverde
9,2019,Anual,684,172,17,San Cristóbal,Villaverde
10,2020,Anual,704,172,17,San Cristóbal,Villaverde
11,2021,Anual,667,172,17,San Cristóbal,Villaverde
12,2022,Anual,750,172,17,San Cristóbal,Villaverde

In [17]:
URL_AFILIACIONES_TRABAJO_SEXO = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8975&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8969&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_AfiliacionesTrabajo_sexo= donwloadInfo(URL_AFILIACIONES_TRABAJO_SEXO, 'datos/raw/economicosAfiliacionesTrabajoSexo.csv',['Anio','Periodo', 'DatoAfiliacionesTrabajoHombres','DatoAfiliacionesTrabajoMujer'])
df_AfiliacionesTrabajo_sexo

,Anio,Periodo,DatoAfiliacionesTrabajoHombres,DatoAfiliacionesTrabajoMujer,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0,0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,23,8,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,117,16,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,77,37,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,90,62,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...,...
8,2018,Anual,384,273,172,17,San Cristóbal,Villaverde
9,2019,Anual,432,252,172,17,San Cristóbal,Villaverde
10,2020,Anual,458,246,172,17,San Cristóbal,Villaverde
11,2021,Anual,417,250,172,17,San Cristóbal,Villaverde
12,2022,Anual,452,298,172,17,San Cristóbal,Villaverde

## Afiliaciones de residentes a la Seguridad Social

In [18]:
URL_AFILIACIONES_RESIDENCIA = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8985&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8968&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_AfiliacionesResidencia= donwloadInfo(URL_AFILIACIONES_RESIDENCIA, 'datos/raw/economicosAfiliacionesReidencia.csv',['Anio','Periodo', 'DatoAfiliacionesResidencia'])
df_AfiliacionesResidencia

,Anio,Periodo,DatoAfiliacionesResidencia,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,131,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,385,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,838,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,874,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
5,2018,Anual,4833,172,17,San Cristóbal,Villaverde
6,2019,Anual,5145,172,17,San Cristóbal,Villaverde
7,2020,Anual,5340,172,17,San Cristóbal,Villaverde
8,2021,Anual,5333,172,17,San Cristóbal,Villaverde
9,2022,Anual,5841,172,17,San Cristóbal,Villaverde

In [19]:
URL_AFILIACIONES_RESIDENCIA_SEXO = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8986&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8969&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_AfiliacionesResidencia_sexo= donwloadInfo(URL_AFILIACIONES_RESIDENCIA_SEXO, 'datos/raw/economicosAfiliacionesResidenciaSexo.csv',['Anio','Periodo', 'DatoAfiliacionesResidenciaHombres','DatoAfiliacionesResidenciaMujer'])
df_AfiliacionesResidencia_sexo

,Anio,Periodo,DatoAfiliacionesResidenciaHombres,DatoAfiliacionesResidenciaMujer,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0,0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,64,67,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,206,179,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,449,389,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,475,399,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...,...
5,2018,Anual,2.402,2.431,172,17,San Cristóbal,Villaverde
6,2019,Anual,2.565,2.580,172,17,San Cristóbal,Villaverde
7,2020,Anual,2.679,2.661,172,17,San Cristóbal,Villaverde
8,2021,Anual,2.687,2.646,172,17,San Cristóbal,Villaverde
9,2022,Anual,2.951,2.890,172,17,San Cristóbal,Villaverde

## Afiliaciones por lugar de trabajo al régimen especial de trabajadores autónomos

In [20]:
URL_AUTONOMOS = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8979&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8968&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_Autonomos= donwloadInfo(URL_AUTONOMOS, 'datos/raw/economicosAutonomos.csv',['Anio','Periodo', 'DatoAutonomo'])
df_Autonomos

,Anio,Periodo,DatoAutonomo,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,9,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,20,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,42,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,60,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
8,2018,Anual,337,172,17,San Cristóbal,Villaverde
9,2019,Anual,285,172,17,San Cristóbal,Villaverde
10,2020,Anual,320,172,17,San Cristóbal,Villaverde
11,2021,Anual,302,172,17,San Cristóbal,Villaverde
12,2022,Anual,283,172,17,San Cristóbal,Villaverde

In [21]:
URL_AUTONOMOS_SEXO = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8980&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8969&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_Autonomos_sexo= donwloadInfo(URL_AUTONOMOS_SEXO, 'datos/raw/economicosAutonomosSexo.csv',['Anio','Periodo', 'DatoAutonomosHombres','DatoAutonomosMujer'])
df_Autonomos_sexo

,Anio,Periodo,DatoAutonomosHombres,DatoAutonomosMujer,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2017,Anual,0,0,194,19,El Cañaveral,Vicálvaro
1,2018,Anual,5,4,194,19,El Cañaveral,Vicálvaro
2,2019,Anual,11,9,194,19,El Cañaveral,Vicálvaro
3,2020,Anual,28,14,194,19,El Cañaveral,Vicálvaro
4,2021,Anual,41,19,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...,...
8,2018,Anual,220,117,172,17,San Cristóbal,Villaverde
9,2019,Anual,200,85,172,17,San Cristóbal,Villaverde
10,2020,Anual,230,90,172,17,San Cristóbal,Villaverde
11,2021,Anual,217,85,172,17,San Cristóbal,Villaverde
12,2022,Anual,201,82,172,17,San Cristóbal,Villaverde

## Merge datos economicos

In [22]:

df_ParadosRgistrados = pd.read_csv('datos/raw/economicosParadosRegistrados.csv', decimal=',', delimiter=';',header=0)[['Anio','Periodo','CodigoBarrio', 'DatoParadosRegistrados']]
df_ParadosRgistrados_sexo = pd.read_csv('datos/raw/economicosParadosRegistradosSexo.csv', decimal=',', delimiter=';',header=0)[['Anio','Periodo','CodigoBarrio','DatoParadosRegistradosHombres','DatoParadosRegistradosMujer']]
df_AfiliacionesTrabajo = pd.read_csv('datos/raw/economicosAfiliacionesTrabajo.csv', decimal=',', delimiter=';',header=0)[['Anio','Periodo','CodigoBarrio', 'DatoAfiliacionesTrabajo']]  
df_AfiliacionesTrabajo_sexo = pd.read_csv('datos/raw/economicosAfiliacionesTrabajoSexo.csv', decimal=',', delimiter=';',header=0)[['Anio','Periodo', 'CodigoBarrio','DatoAfiliacionesTrabajoHombres','DatoAfiliacionesTrabajoMujer']]
df_AfiliacionesResidencia = pd.read_csv('datos/raw/economicosAfiliacionesReidencia.csv',decimal=',', delimiter=';',header=0)[['Anio','Periodo','CodigoBarrio', 'DatoAfiliacionesResidencia']]
df_AfiliacionesResidencia_sexo =  pd.read_csv('datos/raw/economicosAfiliacionesResidenciaSexo.csv',decimal=',', delimiter=';',header=0)[['Anio','Periodo','CodigoBarrio', 'DatoAfiliacionesResidenciaHombres','DatoAfiliacionesResidenciaMujer']]
df_Autonomos = pd.read_csv('datos/raw/economicosAutonomos.csv',decimal=',', delimiter=';',header=0)[['Anio', 'Periodo','CodigoBarrio','DatoAutonomo']]
df_Autonomos_sexo = pd.read_csv('datos/raw/economicosAutonomosSexo.csv',decimal=',', delimiter=';',header=0)[['Anio','Periodo', 'CodigoBarrio','DatoAutonomosHombres','DatoAutonomosMujer']]



#Modificamos los dataset de a planifica
df_ParadosRgistrados_sexo_anual = df_ParadosRgistrados_sexo[df_ParadosRgistrados_sexo['Periodo'] =='Diciembre']
df_ParadosRgistrados_sexo_anual['Periodo'] = 'Anual'





dfs = [df_result_poblacion,
       df_ParadosRgistrados_anual,
       df_ParadosRgistrados_sexo_anual,
       df_AfiliacionesTrabajo,
       df_AfiliacionesTrabajo_sexo,
       df_AfiliacionesResidencia, 
       df_AfiliacionesResidencia_sexo,
       df_Autonomos,
       df_Autonomos_sexo]

df_result_poblacion_economico = reduce(lambda df_left,df_right: pd.merge(df_left, df_right, 
                                              how='inner', on=['Anio','Periodo','CodigoBarrio']), 
                                              dfs)
df_result_poblacion_economico

,Anio,Periodo,CodigoDistrito,CodigoBarrio,NombreBarrio,DatoPoblacion,DatoPoblacionMenor16,DatoPoblacionEntre16y64,DatoPoblacionMayor65,DatoSobreEnvejecimiento,...,DatoParadosRegistradosMujer,DatoAfiliacionesTrabajo,DatoAfiliacionesTrabajoHombres,DatoAfiliacionesTrabajoMujer,DatoAfiliacionesResidencia,DatoAfiliacionesResidenciaHombres,DatoAfiliacionesResidenciaMujer,DatoAutonomo,DatoAutonomosHombres,DatoAutonomosMujer
0,2017,Anual,19,194,El Cañaveral,0,0.0,0.0,0.0,0.0,...,20,0,0,0,0,0,0,0,0,0
1,2018,Anual,19,194,El Cañaveral,945,20.74,75.45,3.81,13.89,...,33,31,23,8,131,64,67,9,5,4
2,2019,Anual,19,194,El Cañaveral,1530,24.71,72.09,3.2,10.2,...,53,133,117,16,385,206,179,20,11,9
3,2020,Anual,19,194,El Cañaveral,2398,24.44,72.39,3.17,7.9,...,110,114,77,37,838,449,389,42,28,14
4,2021,Anual,19,194,El Cañaveral,4430,23.45,73.93,2.62,12.9,...,164,152,90,62,874,475,399,60,41,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,2018,Anual,17,172,San Cristóbal,15498,19.25,67.0,13.74,52.44,...,817,657,384,273,4833,2.402,2.431,337,220,117
1279,2019,Anual,17,172,San Cristóbal,16052,19.18,68.0,12.81,51.1,...,785,684,432,252,5145,2.565,2.580,285,200,85
1280,2020,Anual,17,172,San Cristóbal,16898,18.82,69.3,11.88,48.9,...,1.092,704,458,246,5340,2.679,2.661,320,230,90
1281,2021,Anual,17,172,San Cristóbal,16986,18.6,69.95,11.45,47.0,...,927,667,417,250,5333,2.687,2.646,302,217,85
1282,2022,Anual,17,172,San Cristóbal,16640,18.74,70.0,11.26,45.5,...,688,750,452,298,5841,2.951,2.890,283,201,82

## Renta neta media por hogar

In [23]:
URL_RENTA_MEDIA = "http://portalestadistico.com/municipioencifras/proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv21&idp=34&Id_Celda_Fila_Plantilla=8981&Id_Territorio=28079BAR0X&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv"

#proceso_descarga_excel_csv.aspx?pn=madrid&pc=ztv-49&idp=34&Id_Celda_Fila_Plantilla=8969&Id_Territorio=28079BAR016&Id_Territorio_Padre=28079&idioma=1&Tipo_Fichero_Generado=csv

df_renta_media= donwloadInfo(URL_RENTA_MEDIA, 'datos/raw/economicosRentaMediaPorHogar.csv',['Anio','Periodo','DatoRentaMedia'])
df_renta_media

,Anio,Periodo,DatoRentaMedia,CodigoBarrio,CodigoDistrito,NombreBarrio,NombreDistrito
0,2013,Anual,NaN,194,19,El Cañaveral,Vicálvaro
1,2014,Anual,NaN,194,19,El Cañaveral,Vicálvaro
2,2015,Anual,NaN,194,19,El Cañaveral,Vicálvaro
3,2016,Anual,19674.0,194,19,El Cañaveral,Vicálvaro
4,2017,Anual,31445.0,194,19,El Cañaveral,Vicálvaro
...,...,...,...,...,...,...,...
3,2016,Anual,19859.0,172,17,San Cristóbal,Villaverde
4,2017,Anual,20365.0,172,17,San Cristóbal,Villaverde
5,2018,Anual,21071.0,172,17,San Cristóbal,Villaverde
6,2019,Anual,22675.0,172,17,San Cristóbal,Villaverde
7,2020,Anual,22430.0,172,17,San Cristóbal,Villaverde